@using YemekSiparis.BLL.Models.ViewModels;
@using YemekSiparis.Core.Entities;
@model OrderDetailVM

@if (!string.IsNullOrEmpty(ViewBag.EmptyCartWarning))
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.EmptyCartWarning
    </div>
}

@if (Model != null && Model.OrderDetails != null && Model.OrderDetails.Any())
{
<div class="row">
    <div class="col-lg-11 offset-1 ">
        <table class=" table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Fatura No</th>
                    <th>Menü Adı</th>
                    <th>Soslar</th>
                    <th>Alınan İçecek</th>
                    <th>Boyutu</th>
                    <th>Menü Adeti</th>
                    <th>Menü Fiyatı</th>
                    <th style="justify-content :center;" scope="col">Satın Al</th>

                </tr>
            </thead>
            <tbody>
                @foreach (OrderDetail item in Model.OrderDetails)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Food.Name</td>
                        <td>
                        @foreach (var extra in item.Extras)
                        {
                           @extra.Extra.Name                              
                        }                          
                        </td>
                        <td>
                            @foreach (var beverage in item.Beverages)
                            {
                                @beverage.Beverage.Name   
                            }
                        </td>
                        <td>@item.FoodSize.ToString()</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice</td>
                        <td style="justify-content:center;">
                                <a asp-action="DeleteItem" asp-controller="Buy" asp-route-id="@item.Id" class="d-flex btn btn-success "><b>Siparişi Sil</b></a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>TOPLAM ÜCRET : @Model.OrderDetails[0].OrderBag.TotalPrice</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                           @*  <a class="btn btn-success" asp-action="CompleteOrder" style="width:100%" asp-route-id="@Model.OrderBagId">Siparişi Tamamla</a>
                            <a class="btn btn-success" asp-action="DeleteOrder" asp-route-id="@Model.OrderBagId" style="width:100%">Sepeti Sil</a> *@

                            <form asp-controller="Buy" asp-action="DeleteOrder" method="get">
                                <input type="hidden" name="orderBagId" value="@Model.OrderDetails.FirstOrDefault()?.OrderBag.Id" />
                                <button type="submit" class="btn btn-danger" style="width:100%">Sepeti Sil</button>
                            </form>
                            <form asp-controller="Buy" asp-action="CompleteOrder" method="post">
                                <button type="submit" class="btn btn-success" style="width:100%">Siparişi Tamamla</button>
                            </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
}
else
{
    <div class="alert alert-warning" role="alert">
        Lutfen Menu'ye donup sepetinize urun ekleyiniz...
    </div>
}
